.idea/
tools/output/
*.pyc
paddleseg.egg-info/
deepmodel/
tools/imgs/
tools/onnx/
premodels/rtformer_slim_backbone.pdparams
premodels/pidnet_small_imagenet1k.pdparams
premodels/seaformer_tiny_imagenet_pretrained.pdparams
premodels/topformer_tiny.pdparams
premodels/pp_mobileseg_base.pdparams
premodels/seaformer_base_imagenet_pretrained.pdparams
premodels/PP_STDCNet2.pdparams
premodels/seaformer_large_imagenet_pretrained.pdparams
premodels/topformer_small.pdparams
premodels/topformer_base.pdparams
premodels/seaformer_small_imagenet_pretrained.pdparams
premodels/efficientfomrerv2_s0.pdparams
premodels/mobileseg_mv2.pdparams
premodels/ddrnet23.pdparams
premodels/lpsnet_s.pdparams
premodels/lpsnet_l.pdparams
tools/results/
